header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    text-align: center;
    padding: 30px;
}

.beneficios {
    text-align: center;
    padding: 20px;
}

.lista-beneficios {
    font-style: italic;
    display: inline-block;
    vertical-align: top;
    margin-right: 10%;
}

#img-beneficios {
    width: 50%;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:active {
    border-color: #000000;
}

.produtos li:hover h2 {
    font-size: 32px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.desc-produto {
    font-size: 18px;
}

.preco-produto {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("IMG/bg.jpg");
    padding: 20px 0px;
}

.copyright {
    color: #ffffff;
    font-size: 14px;
    margin-top: 10px;
}
